PORT=5000
NODE_ENV=development
DATABASE_URL=mongodb://localhost:27017/campaign-management
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PRODUCTION_URL=""
ALLOWED_ORIGINS=http://localhost:5173
ALLOW_CREDENTIALS=true
